.main {
  display: flex;
  padding: 0rem;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.homeContainer {
  width: 100%;
  margin-top: 10px;
}

.homeCard {
  border-bottom: 1px solid var(--p1ra);
  background-color: var(--s2da);
  width: 100%;
  height: 90px;
  padding: 5px;
  box-sizing: border-box;
  user-select: none;
  display: flex;
}

.CardLinkDelete {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px 5px;
  background-color: var(--p1ra);
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "prese name option" "prese amoun option";
  font-weight: bold;
  user-select: none;
  transition: background-color 1s ease-in-out;
}

.CardLink {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "prese name option" "prese amoun option";
  font-weight: bold;
  user-select: none;
  transition: background-color 1s ease-in-out;
}

.homeCard:active {
  background-color: #f1eeb1d3;
}

.cardPresentationDelete {
  grid-area: prese;
  background-color: var(--s2da);
  border-radius: 50% 50%;
  width: 70px;
  height: 70px;
  font-size: 25px;
  margin: 5px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.cardPresentation {
  grid-area: prese;
  background-color: var(--p1ra);
  border-radius: 50% 50%;
  width: 80px;
  height: 80px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.cardName {
  grid-area: name;
  padding-left: 35px;
  font-size: 30px;
}

.cardAmoun {
  grid-area: amoun;
  padding-left: 35px;
  font-size: 15px;
  color: var(--c4ta);
}

.cardOptions {
  grid-area: option;
  justify-self: center;
  align-self: center;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 50px;
  height: 100%;
  border: none;
  transition: background-color 2.5s ease-in-out;
  transition: width 1s ease;
  display: flex;
  justify-content: space-evenly;
}

.cardOptionsBtn {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
}

.cardOptionsIcon {
  user-select: none;
  border: none;
  background-color: transparent;
  transition: opacity 0.5s ease-in-out;
}

/*------------------------------*/

.bottonAdd {
  position: fixed;
  bottom: 10px;
  right: 50px;
  z-index: 5;
  width: 60px;
  height: 60px;
  /* border-radius: 50% 50%;
  border: none;
  box-shadow: 0 0 3px 1px var(--t3ra);
  background-color: var(--p1ra);*/

  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.bottonAdd:active {
  transform: scale(0.9);
  background-color: var(--s2da);
}
